@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  :root {
    --background: 40 20% 98%;
    --foreground: 142 76% 5%;
    --card: 0 0% 100%;
    --card-foreground: 142 76% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 142 76% 10%;
    --primary: 142 76% 18%;
    --primary-foreground: 40 20% 98%;
    --secondary: 142 20% 90%;
    --secondary-foreground: 142 76% 18%;
    --muted: 142 10% 92%;
    --muted-foreground: 142 20% 40%;
    --accent: 43 74% 66%;
    --accent-foreground: 142 76% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 20% 85%;
    --input: 142 20% 85%;
    --ring: 43 74% 66%;
    --chart-1: 142 76% 18%;
    --chart-2: 43 74% 66%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .render-optimized {
    content-visibility: auto;
    contain-intrinsic-size: 1px 500px;
  }
}

/* Optimization for history tables */
table {
  border-collapse: separate;
  border-spacing: 0;
}
